<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.crm.mapper.ActRemarkMapper">
    <select id="getRemarks" resultType="ActivityRemark">
        select *
        from tbl_marketing_activities_remark
        where marketingActivitiesId = #{actId}
    </select>

    <insert id="saveRemark">
        insert into tbl_marketing_activities_remark
        values (#{id},
                #{notePerson},
                #{noteContent},
                #{noteTime},
                #{editPerson},
                #{editTime},
                #{editFlag},
                #{marketingActivitiesId})
    </insert>

    <update id="editRemark">
        update tbl_marketing_activities_remark
        set noteContent=#{noteContent},
            editPerson=#{editPerson},
            editTime=#{editTime}
        where id = #{id}
    </update>

    <delete id="delRemark">
        delete from tbl_marketing_activities_remark where id=#{id}
    </delete>
</mapper>